@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Playwrite DE Grund", cursive;
}

html {
  scroll-snap-type: y mandatory;
  font-size: 10px;
}

body {
  background-color: #E2E2E2;
  color: #151515;
}

main {
  margin-top: 92px;
}

section {
  scroll-snap-align: start;
  height: calc(100vh - 92px);
  scroll-margin-top: 92px;
  overflow-x: hidden;
  padding: 2rem 9%;
}

/* Header Section ************************************************************************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;  
  z-index: 100;
  background-color: #E2E2E2;
}

header h1 {
  display: none;
}

nav.mobile {
  display: none;
}

header i {
  display: none;
}

nav.big {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

nav.big ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style-type: none;
}

nav.big ul li {
  font-size: 1.5rem;
}

nav.big ul li a{
  text-decoration: none;
  color: #151515;
}

nav.mobile ul li a{
  text-decoration: none;
  color: #151515;
}


nav.big .signup {
  display: flex;
  gap: 2rem;
}

.signup button {
  margin: 0;
  padding: 0.7rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
}

.signup button:nth-of-type(1) {
  background-color: #fff ;
  color: #151515;
}

.signup button:nth-of-type(2) {
  background-color: #151515;
  color: #fff;
}

/* ***************************************************Home Section***************************************** */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-heading {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #151515;
  font-weight: bolder;
  background-color: transparent;
}

.info {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.info h2 {
  font-size: 5rem;
  width: 90%;
}

.info p {
  font-size: 2rem;
  width: 85%;
}

.start {
  display: flex;
  width: 80%;
  justify-content: left;
  gap: 0;
  margin-top: 1rem;
}

.start input {
  width: 100%;  
  max-width: 400px;  
  padding: 1rem;
  font-size: 1.6rem;
}

.start input::placeholder {
  padding: 0.8rem;
  font-size: 1.6rem;
}

.start button {
  background-color: #151515;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  margin: 0;
}

.method {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.illus1 {
  height: 100%;
  width: 40%;
}

.illus1 img {
  width: 100%;
  height: 100%;
}


/* About Section******************************************************************************************* */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about .about-info {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.abt-heading {
  position: absolute;
  top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid #151515;
  font-weight: bolder;
  background-color: transparent;
}

.about-info h2 {
  margin-top: 5rem;
  font-size: 4rem;
  width: 100%;
}

.about-info p {
  font-size: 1.8rem;
  width: 100%;
}

.about-info ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
  padding-left: 2.5rem;
  gap: 1vw;
  list-style-type: square;
}

.about-info ul li {
  font-size: 1.2vw;
}

.about .illus2 {
  height: 100%;
  width: 40%;
}

.illus2 img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* How it works Section **********************************************************************************/

.how {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.how-heading {
  position: absolute;
  top: 0;
  right: 40%;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid #151515;
  font-weight: bolder;
  background-color: transparent;
}

.how-info {
  height: 100%;
  width: 60%;
}

.how-info h2 {
  font-size: 2.7rem;
  width: 100%;
}

.collab {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
}

.collab1 , .collab2 ,.collab3 ,.collab4  {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collab-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.collab-info p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: 800;
}

.collab-info p:nth-of-type(2) {
  font-weight: 500;
  width: 100%;
  font-size: 1.5rem;
}

.how .illus3 {
  height: 100%;
  width: 40%;
}

.illus3 img {
  width: 90%;
  height: 100%;
}

/* For 1024px *************************************************************************************************/

@media (max-width: 1024px) {

/* Home */

nav.mobile {
  display: none;
}

header i {
  display: none;
}

header h1 {
  display: none;
}

.info h2 {
  font-size: 4rem;
}

.start input {
  width: 100%;    
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
}

.start input::placeholder {
  padding: 0.4rem;
  font-size: 1.6rem;
}

.start button {
  padding: 0.6rem 1.6rem;
}

/* About */

.about .illus2 {
  display: flex;
  align-items: center;
}

.about .about-info {
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.abt-heading {
  top: 2rem;
  left: 9%;
}

.about-info h2 { 
  margin-top: 0;
  font-size: 3.4rem;
}

.about-info p {
  font-size: 1.7rem;
}

.about-info ul li {
  font-size: 1.5rem;
}

/* How */

.illus3 {
  display: flex;
  align-items: end;
}

.illus3 img {
  width: 90%;
  height: 90%;
}

.how-heading {
  position: absolute;
  top: 2rem;
  right: 9%;
}

.how-info h2 {
  font-size: 2.4rem;
}

}


/* ***********************************************************for 768 px ****************************************************/

@media (max-width : 768px) {

nav.mobile {
  display: none;
}

header h1 {
  display: none;
}

header i {
  display: none;
}

header {
  gap: 3rem;
}

nav.big ul {
  gap: 3rem;
}

nav.big .signup {
  gap: 1rem;
}


/* Home */

.home-heading {
  display: block;
  left: 43%;
}

.info h2 {
  font-size: 4rem;
  width: 100%;
}

.info p {
  font-size: 2rem;
  width: 100%;
}

.info {
  width: 100%;
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.illus1 {
  display: none;
}

/* About */

.abt-heading {
  top: 0;
  left: 43%;
}

.about .about-info {
  width: 100%;
  align-items: center;
  gap: 1.2rem;
}

.about-info h2 {
  margin-top: 4rem;
  font-size: 4rem;
}

.about-info p {
  font-size: 2rem;
  width: 100%;
}

.about-info ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2.5rem;
  gap: 1rem;
  list-style-type: square;
}

.about-info ul li {
  font-size: 1.5rem;
}

.about .illus2 {
  display: none;
}

/* How */

.how-heading {
  position: absolute;
  top: 0;
  right: 7%;
}

.how-info {
  width: 100%;
  align-items: center;
}

.how-info h2 {
  position: absolute;
  top: 0;
  left: 7%;
}

.collab {
  margin-top: 5rem;
  gap: 1.3rem;
}

.how .illus3 {
  display: none;
}

}

/* *************************************************for Mobile 425px ***********************************************/

@media (max-width: 425px) {

html {
  scroll-snap-type: y proximity;
}

main {
  margin-top: 72px;
}

section {
  height: calc(100vh - 72px);
  scroll-margin-top: 72px;
}

header {
  padding: 1rem 4%;
}

nav.big {
  display: none;
}

nav.mobile {
  display: none;
  position: absolute;
  top: 72px;
  left: 0;
  background-color: #bdbdbd;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav.mobile ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2%;
}

nav.mobile ul li {
  font-size: 1.5rem;
  color: #151515;
  font-weight: 700;
}

header h1 {
  display: block;
}

header i:nth-of-type(1) {
  display: block;
  font-size: 3rem;
}

header i:nth-of-type(2) {
  display: none;
  font-size: 3rem;
}

/* Home */

.home-heading {
  display: none;
}

.info h2 {
  font-size: 3rem;
}

.info {
  gap: 2rem;
}

/* About */


.abt-heading {
  display: none;
}

.about .about-info {
  width: 100%;
  align-items: center;
  gap: 1.8rem;
}

.about-info h2 {
  margin-top: 0;
  font-size: 3rem;
}

.about-info p {
  font-size: 1.7rem;
  width: 100%;
}

.about-info ul {
  gap: 0.6rem;
  text-align: left;
  align-items: start;
}

.about-info ul li {
  font-size: 1.3rem;
}

/* How */

.how {
  position: relative;
}

.how-heading {
  display: none;
}

.how-info {
  text-align: center;
  align-items: center;
}

.how-info h2 {
  position: inherit;
  font-size: 3rem;
}

.collab1 img, .collab2 img, .collab3 img ,.collab4 img {
  display: none;
}

.collab-info {
  align-items: start;
  text-align: start;
} 

.collab {
  margin-top: 2rem;
  gap: 1.3rem;
}

}

/* *******************************************for 375px */

@media (max-width:375px) {


.about .about-info {
  gap: 1.2rem;
}

.about-info h2 {
  font-size: 2.7rem;
}

.about-info ul li {
  font-size: 1.3rem;
}

.how-info h2 {
  position: inherit;
  font-size: 2.6rem;
}

nav.mobile {
  top: 90px;
}

main {
  margin-top: 90px;
}

section {
  height: calc(100vh - 90px);
  scroll-margin-top: 90px;
}

.info h2 {
  font-size: 2.5rem;
}

.about-info h2 {
  margin-top: 10px;
  font-size: 2.5rem;
}

.about-info p {
  font-size: 1.5rem;
  width: 100%;
}


}